LABEL<%# rails helper form_with %>
<%# form submission the javascript way XHR
form submission is browser way %>
<% if @listing.errors.any?%>
    <% @listing.errors.full_messages.each do |error_message| %>
        <p><%= error_message %></p>
    <%end %>
<% end %>

<%= form_with(model: @listing, local:true) do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>
    <div>
        <%= form.label :deposit %>
        <%= form.number_field :deposit, min: 0 %>
    </div>
    <div>
        <%= form.label :city %>
        <%= form.text_field :city %>
    </div>
    <div>
        <%= form.label :state %>
        <%= form.text_field :state %>
    </div>
    <div>
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth %>
    </div>
    <div>
        <%= form.label :diet %>
        <%= form.text_field :diet %>
    </div>
    <%# drop down code %>
    <div>
        <%= form.label :breed_id %>
        <%# <%= form.select :breed_id, @breeds.map{|b| [b.name, b.id]} %>
        <%= form.collection_select :breed_id, @breeds, :id, :name %>
    </div>
    <%# radio button %>
    <% @sexes.each do |option| %>
        <div>
            <%= form.label option %>
            <%= form.radio_button :sex, option %>
        </div>
    <% end %>

    <div>
        <%= form.label :picture%>
        <%= form.file_field :picture %>

    </div>
    <div>
        <%= form.submit %>
    </div>

<% end %>