<h1> Snake Listings </h1>
<% @listings.each do |listing| %>
    <div class="card">
        <p><%= listing.title %></p>
        <p><%= listing.date_of_birth %></p>
        <p><%= listing.price %></p>
        <p><%= listing.sex %></p>
        <p><%= listing.user.email %></p>
        <p> <%= image_tag listing.picture if listing.picture.attached? %> </p>
        <p><%= link_to "edit", edit_listing_path(listing.id) if current_user.id == listing.user_id %></p>
        <p><%= link_to "delete", listing_path(listing.id), method: :delete if current_user.id == listing.user_id  %></p>
    </div>
<% end %>

<%# by default any link is a get request, so if you want it to be a post of delete request you need to explicity mention it %>